body{
    background: #EAEAEA;
    font-size: 15px;
}

.body{
    padding-top: 20px;
    padding-bottom: 50px;
}

.header {
    border-top: 10px solid #7FAACD;
    background-color: #3B3B3B;
    background-repeat: repeat-x;
    min-width : 1000px;
    padding-top: 3px;

     font-family: "Arial Rounded MT Bold", "Trebuchet MS", Arial, sans-serif;
     color: #FFFFFF;
     font-size: 14px;
}

.header a{
    text-decoration: none;
    font-size: 15px;
    color: #bbe4e4;
}
.header a:hover{
       color: #FFFFFF;
}
.empty_box {
    position: relative;
    height:7px;
    width:50%;
}

.form input:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.button {
    border-top: 1px solid #807E80;
    background: #64A5D1;
    background: -webkit-gradient(linear, left top, left bottom, from(#454B4F), to(#64A5D1));
    background: -moz-linear-gradient(top, #454B4F, #64A5D1);
    padding: 6.5px 13px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    cursor:pointer;
    color: white;
    font-size: 9px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

label{

}
.textbox {
    background-image:url(/static/images/form_bg.jpg);
    background-repeat:repeat-x;
    border:1px solid #d1c7ac;
    width: 170px;
    color:#333333;
    padding:3px;
    margin-right:4px;
    margin-bottom:8px;
    font-family:tahoma, arial, sans-serif;

}
.textboxa {
	border: 0;
	width:220px;
	margin-top:3px;
}

.signup_button {
    border-top: 1px solid #96D1F8;
    background: #D1C3DE;
    background: -webkit-gradient(linear, left top, left bottom, from(#746ABD), to(#D1C3DE));
    background: -moz-linear-gradient(top, #746ABD, #D1C3DE);
    padding: 6.5px 13px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 13px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.taskbar {
    float:right;
    height:50px;
    width:45%;
    border-style:solid;
    border-width:2px;
    border-color:#FFFFFF;
}

#sidepane {
    overflow:hidden;
    position:absolute;
    right:0;
    top:60;
    width:30%;
    height:100%;
    background-color:#EEEEEE;
}

.taskbar_item {
    float:left;
    text-align:right;
    width:20%;
    background-color:#CCCCCC;
}

.login_box {
    float:right;
    height:50px;
    width:35%;
    border-style:solid;
    border-width:2px;
    border-color:#FFFFFF;
}

.input {
    width:70px;
    height:20px;
}

.main_body {
    position:absolute;
    top:100px;
    align:center;
    width:40%;
}

.tweet_container {
    font-family: "Arial Rounded MT Bold", "Trebuchet MS", Arial, sans-serif;
    border-style:solid;
    border-color:#999999;
    border-top-width:1px;
    border-right-width:1px;
}

.block {
    width:25px;
    height:25px;
}

.usr_image_box {
}

.tweet_box {
    position:relative;
    background: url("../images/bg_comment.gif") repeat-x scroll left bottom #FFFFFF;
    text-wrap:suppress;
    font-size:16px;
}

.tweet_box a {
    text-decoration: none;
    color:#666666;
}

.tweet_box a:hover {
    color:#FFFFFF;
}

.tweeter_name {
    font-size:16px;
    color:#BBE4E4;
}

.tweet_content {
    word-wrap:break-word;
}

.tweet_time {
    font-size:10px;
    color:#AAAAAA;
}

a{
    text-decoration: none;
}


.comment_arrow {
    left: -17px;
    position: absolute;
    top: 20px;
}

.footer {
  padding-top: 60px;
  margin-top: 10px;
  text-align: right;
  font-size: 16px;
  color:#43783F;
}

.padding{
    padding:10px;
}

.border {
    border-width:1px;
    border-style:solid;
    border-color:#AAAAAA;
}


.sidebar {
}

.sidebar ul {
    padding:10px;
    background-color:#FFFFFF;
    background: url("../images/bg_comment.gif") repeat-x scroll left bottom #FFFFFF;
}

.sidebar_heading {
    background:color:#AAAAAA;
}

.sidebar li {
    list-style:none;
}

.btn {
    width : 80px;
    height : 20px;
    float:right;
    cursor:pointer;
    background-color : #FFFFFF;
}

.reset-box{
    padding:10px;
    height: 200px;
    background-color:#FFFFFF;
    background: url("../images/bg_comment.gif") repeat-x scroll left bottom #FFFFFF;
}

.profile_box {
    background: url("../images/bg_comment.gif") repeat-x scroll left bottom #FFFFFF;
}

.i {
    display: inline-block;
    vertical-align: baseline;
    position:relative;
    height:20px;
    cursor: pointer;
    padding-left:20px;
}

.fav {
    background: url("../images/empty_star.png") no-repeat scroll left bottom #FFFFFF;
}

.unfav {
    background: url("../images/filled_star.png") no-repeat scroll left bottom #FFFFFF;
}