.header {
     position:absolute;
     width:100%;
     background-color:#777777;
     height:60px;
     top:0;
     left:0;
}

.banner {
    float:left;
    height:50px;
    width:50%;
    border-style:solid;
    border-width:2px;
    border-color:#000000;
}

.taskbar {
    float:right;
    height:50px;
    width:45%;
    border-style:solid;
    border-width:2px;
    border-color:#FFFFFF;
}

#sidepane {
    position:absolute;
    right:0;
    top:60;
    width:30%;
    height:100%;
    background-color:#EEEEEE;
}

.taskbar_item {
    float:left;
    text-align:right;
    width:20%;
    background-color:#CCCCCC;
}

.login_box {
    float:right;
    height:50px;
    width:35%;
    border-style:solid;
    border-width:2px;
    border-color:#FFFFFF;
}

.input {
    width:70px;
    height:20px;
}

.sign_up {
    align:center;
    width:40%;
}